{{#if requestedFriendsList}}
	<h4 class =  "page-header">
		{{ amnt_pending }} Friend Requests
	</h4>
	{{#each requestedFriendsList}}
		<div class="panel panel-primary">
			<div class="panel-heading" name = "{{ this.profile_color }}">	
				<a class = "friendsBlock" name = {{ this.username }}>
					<img class = "list_pic" name = {{ this.profile_pic }}></img>
					<div class = "inline-block">
						<h3 class="post-title-name panel-title">{{this.first_name}} {{this.last_name}}</h3>
						<h3 class="post-title-username panel-title">{{this.username}}</h3>
					</div>
					<form class = "pull-right" method = "post" action = "fr_decline">
						<input name = "user" type = "hidden" value = "{{ this.username }}">
						<button type = "submit" class = "btn btn-default"><i class="fa fa-times" aria-hidden="true"></i></button>
					</form>
					<form class = "acceptFR pull-right" method = "post" action = "fr_accept">
						<input name = "user" type = "hidden" value = "{{ this.username }}">
						<button type = "submit" class = "btn btn-default"><i class="fa fa-check" aria-hidden="true"></i></button>
					</form>
				</a>
			</div>
		</div>
	{{/each}}
{{/if}}
{{#if pendingFriendsList}}
	<h4 class =  "page-header">
		{{ amnt_pending }} Pending Friend Requests
	</h4>
	{{#each pendingFriendsList}}
		<div class="panel panel-primary">
			<div class="panel-heading" name = "{{ this.profile_color }}">	
				<a class = "friendsBlock" name = {{ this.username }}>
						<img class = "list_pic" name = {{ this.profile_pic }}></img>
				<div class = "inline-block">
					<h3 class="post-title-name panel-title">{{this.first_name}} {{this.last_name}}</h3>
					<h3 class="post-title-username panel-title">{{this.username}}</h3>
				</div>
				</a>
			</div>
		</div>
	{{/each}}
{{/if}}
{{#if acceptedFriendsList}}
	<h4 class =  "page-header">
		{{ amnt_friends }} Friends
	</h4>
	{{#each acceptedFriendsList}}
		<div class="panel panel-primary">
			<div class="panel-heading" name = "{{ this.profile_color }}"> 	
				<a class = "friendsBlock" name = {{ this.username }}>
						<img class = "list_pic" name = {{ this.profile_pic }}></img>
				<div class = "inline-block">
					<h3 class="post-title-name panel-title">{{this.first_name}} {{this.last_name}}</h3>
					<h3 class="post-title-username panel-title">{{this.username}}</h3>
				</div>
				</a>
			</div>
		</div>
	{{/each}}
{{/if}}
<script>
	listProfilePics();
	listHrefs();
	
	$('.panel-heading').each(function(index){
		console.log($(this).attr('name'))
		$(this).css('background-color', $(this).attr('name'))
	})
</script>
