<h2 class =  "page-header">
	Your Profile
	<a href = "/edit_profile" class = "btn btn-primary pull-right"><i class="fa fa-cog" aria-hidden="true"></i></a>
</h2>
<div class = "col-md-3 text-center organizer">
	<div>
		<img class = "profile_pic" src = ""></img>
	</div>
	<div class = "name-group">
		<text>"{{ bio }}"</text>
	</div>
	<div class = "name-group">
		<label class = "profile_name">Name: </label>
		<text>{{ first_name }} {{ last_name }}</text>
	</div>
	<div class = "name-group">
		<label class = "profile_name">Username:</label>
		<text>{{ username }}</text>
	</div>
</div>
<div class = "organizer col-md-9">
	<form id = "statusForm" method = "post" action = "/new_status">
		<div class="makeStatus text-center input-group">
			<textarea placeholder = "Speak your mind!" class = "form-control custom-control statusInput" name = "status"></textarea>
			<span onClick = "document.getElementById('statusForm').submit()" class = "statusSubmit input-group-addon btn btn-primary" type = "submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
		</div>
	</form>
	
	{{#each user_timeline}}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<a class = "friendsBlock whiteFont" name = {{ ../username }}>
					<img class = "list_pic" name = {{../profile_pic}}></img>
						
					<div class = "inline-block">
						<h3 class="post-title-name panel-title">{{ this.from }}</h3>
						<h3 class="post-title-username panel-title">{{ this.time }}</h3>
					</div>
					<form class = "real-inline-form" method = "post" action = "/remove_post">
						<input name = "postID" type = "hidden" value = {{ this.id }}>
						<button type = "submit" class = "btn btn-default pull-right" data-toggle="tooltip" data-placement = "left" title = "" data-original-title="Delete Post"><i class="fa fa-times" aria-hidden="true"></i></button>
					</form>
				</a>
			</div>
			<div class="panel-body">
				{{ this.content }}
			</div>
			 <div class="panel-footer">
				
				<!--This is comment button that triggers comment section to drop down-->
				<button id = "{{this.from}}_{{this.id}}_commentsTrigger" class = "inline-form invisible-button toggle-dropdown" data-target = "#{{this.from}}_{{this.id}}_commentsBlock" data-toggle="collapse" aria-expanded="false" aria-haspopup="true">
					<label id = "{{this.id}}_{{this.from}}_label">{{this.amnt_comments}}</label>
					<span class = "post-icon">
						<i class="fa fa-comment" aria-hidden="true"></i>
					</span>
				</button>
								
				<!--This is the like button-->
				<form class = "inline-form" id = "{{this.from}}_{{this.id}}_form" method = "post" action = "/like_post">
					<input id = "{{this.from}}_{{this.id}}_likePostID" type = "hidden" value = "{{this.id}}" name = "postID">
					<input id = "{{this.from}}_{{this.id}}_likePostFrom" type = "hidden" value = "{{this.from}}" name = "postFrom">
					<label value = "{{this.likes}}" id = "{{this.from}}_{{this.id}}_label">{{this.likes}}</label>
					<script></script>
					{{#if this.[liked]}}
						<span id = "{{this.from}}_{{this.id}}" class = "submitLikedPost post-icon toggle-dropdown" data-toggle="tooltip" data-placement = "top" title = "" data-original-title="Unlike">
							<i id = "{{this.from}}_{{this.id}}_likeIcon" class = "fa fa-thumbs-up liked"  aria-hidden="true"></i>
						</span>
					{{else}}
						<span id = "{{this.from}}_{{this.id}}" class = "submitLikedPost post-icon toggle-dropdown">
							<i id = "{{this.from}}_{{this.id}}_likeIcon" class = "fa fa-thumbs-o-up"  aria-hidden="true" data-toggle="tooltip" data-placement = "top" title = "" data-original-title="Like"></i>
						</span>
					{{/if}}
				</form>

				<!--This is the comment section that drops down-->
				<div id = "{{this.from}}_{{this.id}}_commentsBlock" class = "comment-section collapse" aria-expanded = "true">
					<div id = "{{this.id}}_{{../username}}_comments" class = "post-comments">
						{{#each this.comments}}
							
							<!-- Comment -->
							<div class="comment media">
								<a class="friendsBlock pull-left" name = {{this.from}}>
									<img class="list_pic" name = {{ this.profile_pic }}>
								</a>
								<div class="media-body">
									<h3 class="post-comment-username panel-title">{{this.from}}</h3>
									{{this.content}}
									<h3 class="post-comment-date panel-title">{{this.date}}</h3>
								</div>
							</div>
						
						{{/each}}
					</div>
					
					<!--Comment input area-->
					<form id = "{{this.id}}_{{../username}}_form" method = "post" action = "/post_comment">
						<div class="post-comment text-center input-group">
							<input placeholder = "Post a comment!" id = "{{this.id}}_{{../username}}_commentContent" class = "form-control custom-control statusInput" name = "post_content" type = "text">
							<input id = "{{this.id}}_{{../username}}_commentFrom" type = "hidden" value = "{{../username}}" name = "from">
							<input id = "{{this.id}}_{{../username}}_postFrom" type = "hidden" value = "{{this.from}}" name = "from">
							<input id = "{{this.id}}_{{../username}}_postID" type = "hidden" value = "{{this.id}}" name = "from">
							<span id = "{{this.id}}_{{../username}}" class = "commentSubmit input-group-addon btn btn-primary">
								<i class="fa fa-paper-plane" aria-hidden="true"></i>
							</span>
						</div>
					</form>
				</div>
			 </div>
		</div>
		
	{{/each}}
</div>
<script>
	//These variables are set so they can be used in the people-page.js file
	var hb_profile_pic = "{{ profile_pic }}";
	var hb_req_username = "{{ username }}";
	
	//Only user sees this page so the user pic is also the req profile pic
	var hb_req_profile_pic = "{{ profile_pic }}";
</script>
<script src = "/js/people-page.js"></script>
