<h2 class =  "page-header">
	Your Profile
	<a href = "/edit_profile" class = "btn btn-primary pull-right"><i class="fa fa-cog" aria-hidden="true"></i></a>
</h2>
<div class = "col-md-3 organizer">
	<div>
		<img class = "profile_pic" src = ""></img>
	</div>
	<div class = "name-group">
		<text>"{{ bio }}"</text>
	</div>
	<div class = "name-group">
		<label class = "profile_name">Name: </label>
		<text>{{ first_name }} {{ last_name }}</text>
	</div>
	<div class = "name-group">
		<label class = "profile_name">Username:</label>
		<text>{{ username }}</text>
	</div>
	<script>getProfilePic("{{ profile_pic }}")</script>
</div>
<div class = "organizer col-md-9">
	Timeline will go here
</div>

