<h3 class =  "page-header">
	{{ username }}
	{{#if not_friend}}
		<form class = "inline-form pull-right" method = "post" action = "/processing">
			<input name = "user" id = "usernameFR" type = "hidden">
			<button type = "submit" class = "btn btn-primary pull-right" data-toggle="tooltip" data-placement = "left" title = "" data-original-title="Send Friend Request"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
		</form>
	{{else if pending_friend}}
		<button type = "submit" class = "btn btn-primary pull-right disabled" data-toggle="tooltip" data-placement = "left" title = "" data-original-title="Friend Request Pending"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
	{{else if requested_friend}}
		<form class = "pull-right" method = "post" action = "fr_decline">
			<input name = "user" type = "hidden" value = "{{ username }}">
			<button type = "submit" class = "btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
		</form>
		<form class = "acceptFR pull-right" method = "post" action = "fr_accept">
			<input name = "user" type = "hidden" value = "{{ username }}">
			<button type = "submit" class = "btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
		</form>
	{{else if accepted_friend}}
		<div class="btn-group pull-right">
			<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<i class="friendProfileIcon fa fa-user" aria-hidden="true"></i>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<form method = "post" action = "/remove_friend">
					<input name = "user" type = "hidden" value = "{{ username }}">
					<button type = "submit" class = "btn btn-link removeFriendBtn">Remove Friend</button>
				</form>
			</ul>
		</div>
	{{/if}}
</h3>
<div class = "col-md-3 text-center organizer">
	<div>
		<img class = "profile_pic" src = ""></img>
	</div>
	<div class = "name-group">
		<text>"{{ bio }}"</text>
	</div>
	<div class = "name-group">
		<label class = "profile_name">Name: </label>
		<text>{{ first_name }} {{ last_name }}</text>
	</div>
	<div class = "name-group">
		<label class = "profile_name">Username:</label>
		<text>{{ username }}</text>
	</div>
</div>
<div class = "organizer col-md-9">
	{{#each user_timeline}}
		<div class="panel panel-primary">
				<div class="panel-heading">
					<a class = "friendsBlock" name = {{ ../username }}>
						<img class = "list_pic" name = {{../profile_pic}}></img>
							
						<div class = "inline-block">
							<h3 class="post-title-name panel-title">{{../first_name}} {{../last_name}}</h3>
							<h3 class="post-title-username panel-title">{{ this.time }}</h3>
						</div>
					</a>
				</div>
			<div class="panel-body">
				{{ this.content }}
			</div>
			 <div class="panel-footer">
				<!--This is comment button that triggers comment section to drop down-->
				<button id = "{{this.from}}_{{this.id}}_commentsTrigger" class = "inline-form invisible-button toggle-dropdown" data-target = "#{{this.from}}_{{this.id}}_commentsBlock" data-toggle="collapse" aria-expanded="false" aria-haspopup="true">
					<label id = "{{this.id}}_{{this.from}}_label">{{this.amnt_comments}}</label>
					<span class = "post-icon">
						<i class="fa fa-comment" aria-hidden="true"></i>
					</span>
				</button>
								
				<!--This is the like button-->
				<form class = "inline-form" id = "{{this.from}}_{{this.id}}_form" method = "post" action = "/like_post">
					<input id = "{{this.from}}_{{this.id}}_likePostID" type = "hidden" value = "{{this.id}}" name = "postID">
					<input id = "{{this.from}}_{{this.id}}_likePostFrom" type = "hidden" value = "{{this.from}}" name = "postFrom">
					<label value = "{{this.likes}}" id = "{{this.from}}_{{this.id}}_label">{{this.likes}}</label>
					<script></script>
					{{#if this.[liked]}}
						<span id = "{{this.from}}_{{this.id}}" class = "submitLikedPost post-icon toggle-dropdown" data-toggle="tooltip" data-placement = "top" title = "" data-original-title="Unlike">
							<i id = "{{this.from}}_{{this.id}}_likeIcon" class = "fa fa-thumbs-up liked"  aria-hidden="true"></i>
						</span>
					{{else}}
						<span id = "{{this.from}}_{{this.id}}" class = "submitLikedPost post-icon toggle-dropdown">
							<i id = "{{this.from}}_{{this.id}}_likeIcon" class = "fa fa-thumbs-o-up"  aria-hidden="true" data-toggle="tooltip" data-placement = "top" title = "" data-original-title="Like"></i>
						</span>
					{{/if}}
				</form>

				<!--This is the comment section that drops down-->
				<div id = "{{this.from}}_{{this.id}}_commentsBlock" class = "comment-section collapse" aria-expanded = "true">
					<div id = "{{this.id}}_{{../username}}_comments" class = "post-comments">
						{{#each this.comments}}
							
							<!-- Comment -->
							<div class="media">
								<a class="friendsBlock pull-left" name = {{this.from}}>
									<img class="list_pic" name = {{ this.profile_pic }}>
								</a>
								<div class="media-body">
									<h3 class="post-comment-username panel-title">{{this.from}}</h3>
									{{this.content}}
									<h3 class="post-comment-date panel-title">{{this.date}}</h3>
								</div>
							</div>
						
						{{/each}}
					</div>
					
					<!--Comment input area-->
					<form id = "{{this.id}}_{{../username}}_form" method = "post" action = "/post_comment">
						<div class="post-comment text-center input-group">
							<input placeholder = "Post a comment!" id = "{{this.id}}_{{../username}}_commentContent" class = "form-control custom-control statusInput" name = "post_content" type = "text">
							<input id = "{{this.id}}_{{../username}}_commentFrom" type = "hidden" value = "{{../username}}" name = "from">
							<input id = "{{this.id}}_{{../username}}_postFrom" type = "hidden" value = "{{this.from}}" name = "from">
							<input id = "{{this.id}}_{{../username}}_postID" type = "hidden" value = "{{this.id}}" name = "from">
							<span id = "{{this.id}}_{{../username}}" class = "commentSubmit input-group-addon btn btn-primary">
								<i class="fa fa-paper-plane" aria-hidden="true"></i>
							</span>
						</div>
					</form>
				</div>
			 </div>
		</div>
	{{/each}}
</div>


<script>
	getProfilePic("{{ profile_pic }}");
	listProfilePics();
	listHrefs();
	sendUsernameFR("{{ username }}");
	
	$(document).ready(function() {
		$("body").tooltip({ selector: '[data-toggle=tooltip]' });
	});
	
	$(".submitLikedPost").click(function(){
		var btnId = "#" + this.id;
		var formId = "#" + this.id + "_form";
		var iconId = "#" + this.id + "_likeIcon";
		var labelId = "#" + this.id + "_label";
		
		$.post('/like_post',{
			postID: $(btnId + "_likePostID").val(),
			from: $(btnId + "_likePostFrom").val(),
		})
				
		if ($(iconId).attr('class').indexOf("liked") >= 0){
			$(iconId).attr('class', 'fa fa-thumbs-o-up');
			$(labelId).text(Number($(labelId).text()) - 1)
		}else{
			$(iconId).attr('class', "fa fa-thumbs-up liked")
			$(labelId).text(Number($(labelId).text()) + 1)
		}
	})
	
	$(".commentSubmit").click(function(){	
		var btnId = "#" + this.id;
		var formId = "#" + this.id + "_form";
		var labelId = "#" + this.id + "_label";
		var commentsId = "#" + this.id + "_comments"
				
		$(commentsId)[0].scrollTop = $(commentsId)[0].scrollHeight;
		if ($(btnId + "_commentContent").val().trim() != 0){			
			$.post('/post_comment',{
				commentFrom: $(btnId + "_commentFrom").val(),
				content: $(btnId + "_commentContent").val().trim(),
				date: getFormattedDate(),
				postFrom: $(btnId + "_postFrom").val(),
				postID: $(btnId + "_postID").val(),
			})
			$(btnId + "_commentContent").val("");
		}
	});
</script>
